body {
  font-family: Arial, sans-serif;
  background: #0b132b;
  color: white;
  text-align: center;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

input, button {
  width: 90%;
  max-width: 320px;
  padding: 14px;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

button, .uploadBtn {
  background: #0f766e;
  color: white;
  cursor: pointer;
}

.uploadBtn {
  display: inline-block;
}

video, img {
  width: 90%;
  max-width: 320px;
  margin: 15px 0;
  border-radius: 12px;
}
